/* NavBar Formatting */
.navbar {
  position: fixed;
  top: 5vh;
  right: 8vh;
  font-family: 'Inconsolata', monospace;
  color: #64ffda
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #64ffda;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.resumeButton {
  max-width: 11vh;
  max-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  padding: 10px 20px;
  border-radius: 5px;
}

/* email addresss bar */
.email {
  position: fixed;
  padding: 29px 5px;
  left: 5vh;
  top: 1vh;
  transform: rotate(90deg);
  transform-origin: bottom left;
  color:#64ffda;
}

/* social media links */
.social-container {
  position: fixed;
  padding: 25px;
  left: 5vh;
  bottom: 35vh;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

.social {
  padding:15px;
}

a.github {
  color: #64ffda;

}

a.facebook {
  color: #64ffda;
}

a.linkedin {
  color: #64ffda;
}

a.instagram {
  color: #64ffda;
}

/* general formatting */
body {
  font-family: 'Inconsolata', monospace;
  
}

.nameIs {
  font-size:1.4rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size:4rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size:1.5rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.2rem;
  max-width: 65vh;
  
}

button:hover {
  background-color: #0055aa;
}

.green {
  color: #64ffda
}

.lightSlate {
  color: #a8b2d1;
}

.lightestSlate {
  color: #ccd6f6;
}


 /* Home Page  */
.HomePage {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  min-height: 100vh;
  padding: 10rem 15rem;
  text-align: left;
  background-color: #0a192f;
}



.portfolioButton {
  max-width: 20vh;
  border: 2px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1rem;
}

.homePagePhoto {
  
  position: absolute;
  padding: 29p0px;
  right:10vh;
  top: 34vh;
  max-width: 66vh;
  max-height: 50svh;
  border: 5px solid #64ffda;
  border-radius: 20px;
}

/* About Page */

.AboutPage {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  min-height: 100vh;
  padding:8rem 15rem;
  text-align: left;
  background-color: #0a192f;
}

.AboutPage p {
  font-size: 1.2rem;
  max-width: 75vh;
}

.AboutPage h1 {
  font-size: 2.5rem;
}

.headshot {
  position: absolute;
  right:20vh;
  top: 25vh;
  max-width: 50vh;
  max-height: 50svh;
  border: 5px solid #64ffda;
  border-radius: 20px;
}

/* Work Page */

.workPage {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  min-height: 100vh;
  padding: 10rem 15rem;
  text-align: left;
  background-color: #0a192f;
}

.workPage h1 {
  font-size: 2rem;
}

/* Contact Page */

.contactPage {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  min-height: 100vh;
  padding: 12rem 15rem;
  text-align: left;
  background-color: #0a192f;
}

.contactPage button {
  max-width: 20vh;
  border: 2px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1rem;

}

.contactPhoto {
  position: absolute;
  right:25vh;
  top: 22vh;
  max-width: 50vh;
  max-height: 50svh;
 
}





