/* NavBar Formatting */
.navbar {
  position: fixed;
  top: 5vh;
  right: 8vh;
  font-family: 'Inconsolata', monospace;
  color: #64ffda
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #64ffda;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.resumeButton {
  max-width: 11vh;
  max-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  padding: 10px 20px;
  border-radius: 5px;
}

/* email addresss bar */
.email {
  position: fixed;
  padding: 29px 5px;
  left: 5vh;
  top: 1vh;
  transform: rotate(90deg);
  transform-origin: bottom left;
  color:#64ffda;
}

/* social media links */
.social-container {
  position: fixed;
  padding: 25px;
  left: 5vh;
  bottom: 35vh;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

.social {
  padding:15px;
}

a.github {
  color: #64ffda;

}

a.facebook {
  color: #64ffda;
}

a.linkedin {
  color: #64ffda;
}

a.instagram {
  color: #64ffda;
}


/* Footer  */
.footer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px; 
  position:absolute;
  color: #64ffda;
}




/* general formatting */
body {
  font-family: 'Inconsolata', monospace;
  margin: auto;
  background-color: #0a192f;
}

.nameIs {
  font-size:1.4rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size:4rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size:1.5rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.2rem;
  max-width: 65vh;
  
}

button:hover {
  background-color: #0055aa;
}

.green {
  color: #64ffda
}

.lightSlate {
  color: #a8b2d1;
}

.lightestSlate {
  color: #ccd6f6;
}


 /* Home Page  */
/* .HomePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20vh;
  min-height: 100vh;
  width: 100%;
  text-align: left;
  background-color: #0a192f;
}

.contentContainer {
  margin-top:2vh;
  margin-left: 0;
}




.portfolioButton {
  max-width: 20vh;
  border: 2px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1rem;
}

.homePagePhoto {
  margin-left: 10vh;
  margin-top: 10vh;
  max-width: 60vh;
  max-height: 40vh;
  border: 5px solid #64ffda;
  border-radius: 20px;
} */

/* About Page */

.AboutPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20vh;
  margin-left: 15vh;
  min-height: 100vh;
  text-align: left;
  background-color: #0a192f;
}

.AboutPage p {
  font-size: 1.1rem;
  max-width: 75vh;
}

.AboutPage h1 {
  font-size: 2.5rem;
}

.headshot {
  margin-left: 10vh;
  margin-top: 5vh;
  max-width: 50vh;
  max-height: 50vh;
  border: 5px solid #64ffda;
  border-radius: 20px;
}

.ulContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}



/* Work Page */

.workPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: left;
  background-color: #0a192f;
}

.workPage h1 {
  font-size: 2rem;
}

/* Contact Page */

.contactPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-right: 0vh;
  margin-left: 0vh;
  text-align: left;
  background-color: #0a192f;
}


.contactPage button {
  max-width: 20vh;
  border: 2px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1rem;

}

.contactPhoto {
  margin-left: 15vh;
  margin-top: 10vh;
  max-width: 45vh;
  max-height: 45vh;
 
 
}

/* Work Page */

.portfolioButton {
  max-width: 20vh;
  border: 2px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1rem;
}





